{% extends "base.html" %}

{% block content %}
  {{ section.content | safe }}

  {% set data = load_data(path="content/team/team.yaml") %}
  <div class="uk-child-width-expand@s uk-text-center uk-margin-xlarge-top" uk-grid>
    {% for person in data.team %}
      <div class="uk-width-1-5@m">
        {% set image = resize_image(path="team/" ~ person.picture, width=140, height=140, op="fill") %}
        <img src="{{ image.url }}">
        <p>
          <b>{{ person.name }}</b>
          {{ person.text | markdown | safe }}
        </p>
      </div>
    {% endfor %}
  </div>

  <h2>Former team members</h2>
  <div class="uk-child-width-expand@s uk-text-center uk-margin-xlarge-top" uk-grid>
    {% for person in data.past %}
      <div class="uk-width-1-5@m">
        {% set image = resize_image(path="team/" ~ person.picture, width=140, height=140, op="fill") %}
        <img src="{{ image.url }}">
        <p>
          <b>{{ person.name }}</b>
        </p>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
